In [1]:
prin(ammar)

NameError: name 'prin' is not defined

In [2]:
print(ammar)

NameError: name 'ammar' is not defined

In [3]:
print(75)

75

In [4]:
print('hello word')

hello word

In [5]:
print("ammar")

ammar

integer
float
string
boolean

working with variable

In [6]:
personname = "Ammar"

In [7]:
print(personname)

Ammar

In [9]:
person_age = 25
print(person_age)

25

In [11]:
print (personname,"this is a string",person_age)

Ammar this is a string 25

In [12]:
percentage = 34.34

In [13]:
print(percentage)

34.34

In [15]:
type(personname)

str

In [16]:
type(person_age)

int

In [17]:
type(percentage)

float

In [19]:
stence = "ali class AI"

In [20]:
print (stence)

ali class AI

In [21]:
msg = """

hello world
   this is class AI
    """

In [22]:
print(msg)

hello world
   this is class AI

In [23]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
 name = "ali raza"

In [25]:
name.upper()

'ALI RAZA'

In [26]:
name = name.upper()

In [27]:
print(name)

ALI RAZA

In [28]:
name.lower()

'ali raza'

In [29]:
name.title()

'Ali Raza'

In [30]:
name.capitalize()

'Ali raza'

In [32]:
name = "ali raza"
calssname = "Al"
age = 30
percentage = 40.4

In [34]:
print ("person name" , name)
print ("class", calssname)

person name ali raza
class Al

In [40]:
studentdata = """
personname ; {}
age ; {}
"""

In [41]:
print(studentdata)

personname ; {}
age ; {}

In [42]:
print(studentdata.formate("ali" , "30"))

AttributeError: 'str' object has no attribute 'formate'

In [65]:
name = "Ammar"
marks = 30
university = "tuf"

In [59]:
data = """ 
           name : {}
           marks : {}
           university : {}
           """

In [61]:
print(data)

           name : {}
           marks : {}
           university : {}

In [66]:
print(data.format(name , marks ,university))

           name : Ammar
           marks : 30
           university : tuf

In [67]:
x = 5
y = 5

In [68]:
x + y

10

In [69]:
print(x+y)

10

In [70]:
print(x-y)

0

In [71]:
print(x*y)

25

In [72]:
print(x/y)

1.0

In [74]:
z = x+y
print(z)

10

In [75]:
print (x,y,z)

5 5 10

In [77]:
name = "Ammar"
age = 45
Class = "AI"

In [79]:
data = """name: {}
age: {}
Class : {}"""

In [80]:
print (data.format(name,Class,age))

name: Ammar
age: AI
Class : 45

In [81]:
newdata = """name: {name}
age: {age}
Class : {Class}"""

In [82]:
newdata

'name: {name}\nage: {age}\nClass : {Class}'

In [83]:
print(newdata)

name: {name}
age: {age}
Class : {Class}

In [84]:
print(newdata.format(name=name , Class  = Class , age = age))

name: Ammar
age: 45
Class : AI