In [1]:
print(666)

666

In [3]:
print('Ammar')

Ammar

In [4]:
print ("Ammar")

Ammar

In [5]:
print ('Muhammad','Ammar')

Muhammad Ammar

In [12]:
print ("Muhammad","Ammar")

Muhammad Ammar

In [17]:
print("Muhammad Ammar Ali")

Muhammad Ammar Ali

In [18]:
print(66.6)

66.6

In [20]:
name = "Ammar"
age = 27

In [39]:
print("Name=",name,"\n","Age=",age)

Name= Ammar
 Age= 27

In [40]:
x = 666
y = 66.6
z = "Ammar"

In [41]:
print(x,y,z)

666 66.6 Ammar

In [48]:
type(x)

int

In [49]:
type(y)

float

In [50]:
type(z)

str

In [58]:
Msg = """we are brothers
frrom same mother"""

In [59]:
print(Msg)

we are brothers
frrom same mother

In [63]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [65]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [71]:
name = "muhammad ammar ali"
name.lower()

'muhammad ammar ali'

In [67]:
name.upper()

'MUHAMMAD AMMAR ALI'

In [73]:
name.title()

'Muhammad Ammar Ali'

In [75]:
name.capitalize()

'Muhammad ammar ali'

In [76]:
x = 2
y = 3
z = 4

In [77]:
a = x+y+z

In [78]:
print (a)

9

In [79]:
x+y+z

9

In [85]:
print(a/2.5)

3.6

In [83]:
print (x*y*z)

24

In [87]:
name = "Muhammad Ammar"
education = "Engineer"
passing_year = 2014
university = "TUF"
roll_no = "bee-fa10-061"
marks_cgpa = 3.24

In [92]:
print(name,"\n",education,"\n",passing_year,"\n",university,"\n",roll_no,"\n",marks_cgpa)

Muhammad Ammar
 Engineer
 2014
 TUF
 bee-fa10-061
 3.24

In [115]:
ammar_data = """
name : {}
education :{}
passing year :{}
university :{}
roll no : {}
marks cgpa : {}
"""

In [116]:
print (ammar_data.format(name,education,passing_year,university,roll_no,marks_cgpa))

name : Muhammad Ammar
education :Engineer
passing year :2014
university :TUF
roll no : bee-fa10-061
marks cgpa : 3.24

In [153]:
ammar_new_data = """
my name : {nam}
my education : {edu}
my passing year : {passing}
my university : {uni}
my roll no : {roll_no}
my marks cgpa : {cgpa}
""".format(nam=name,edu=education,passing=passing_year,uni=university,cgpa=marks_cgpa,roll_no=roll_no)
print(ammar_new_data)

my name : Muhammad Ammar
my education : Engineer
my passing year : 2014
my university : TUF
my roll no : bee-fa10-061
my marks cgpa : 3.24

In [154]:
print(ammar_new_data.format(nam=name,edu=education,passing=passing_year,uni=university,cgpa=marks_cgpa,roll_no=roll_no))

my name : Muhammad Ammar
my education : Engineer
my passing year : 2014
my university : TUF
my roll no : bee-fa10-061
my marks cgpa : 3.24

In [1]:
name = "Ammar"
age = 26

In [28]:
data = "person name : {} \nperson age : {} ".format(name,age)

In [29]:
print (data)

person name : Ammar
person age : 26

In [36]:
new_data = """person name : {nam}
person age : {age}""".format(age = age,nam = name)

In [37]:
print(new_data)

person name : Ammar
person age : 26

In [38]:
# Data of Ammar

"""data of ammar"""

In [41]:
'''
print ("hello")
'''

'\nprint ("hello")\n'

In [43]:
name = input ("plz enter your name : ")

plz enter your name : Ammar

In [49]:
msg = "hello " + name + "\n" + "your age is " + name

In [50]:
print(msg)

hello Ammar
your age is Ammar

In [32]:
print ('ali','raza',sep="   ")

ali   raza

In [38]:
print ("Muhammad","\n","Ammar")

Muhammad
 Ammar

In [31]:
print("Muhammad",end="\n\n")
print("Ammar")

Muhammad

Ammar

In [52]:
a=10
b=4
c=a/b
print(c)

2.5

In [57]:
a=10
b=4
c=a//b
print(c)

2

In [5]:
a = 10 % 3
print(a)

1

In [8]:
a=1
b=2
c=a+b
print(c)

3

In [9]:
b += c
print(b)

5

In [20]:
name = input ("enter your name : ")
level = input ("enter your level : ")
data= """
person name : {}
person level :{}""".format (name,level)
print ("......................................")
print (data)

enter your name : ammar
enter your level : engineer
......................................

person name : ammar
person level :engineer

In [39]:
name = input ("enter your name : ")
level = input ("enter your level : ")
data= """
person name : {nam}
person level :{level}"""
print ("..............................",end="\n\n")
print (data.format (nam=name,level=level))

enter your name : Ammar
enter your level : Level
..............................


person name : Ammar
person level :Level

In [49]:
print ("Muhammad",end="\t")
print ("Ammar",end="\t")
print ("Ali")

Muhammad	Ammar	Ali

In [51]:
print ("Muhammad",end="\n\n")
print ("Ammar",end="\n\n")
print ("Ali")

Muhammad

Ammar

Ali