In [4]:
2+3

5

In [5]:
2+3

5

In [6]:
2+3

5

In [7]:
2*3**2-4+5/2  #how?

16.5

PEMDAS (means)     # use * for bulat points

* p for parenthesis ()
* E for rxponent **
* M for multiply *
* D for Division /
* A for adition +
* S for substraction -

In [8]:
2+3  # execute only last line
4-5  # Called computer program,program,code,algorithm

-1

In [9]:
# single line is called line of code

In [13]:
print (2+3) # print is a function
4-5# function.... which is take input process that and gives output.

5

-1

In [11]:
print (2+3)
print (4-5)

5
-1

In [14]:
print (2,3,5)

2 3 5

VARIABLE AND DATA TYPES

In [15]:
2+3

5

In [16]:
num = 2+3 # variable is container

In [17]:
num

5

In [18]:
number =  5+2   # variable name is called unique identifier

 esc m use for maekdown

# legal Variable

* letter,underscore,number
* Number cannot come at the beginning

In [26]:
my name = "Ammar" # space is illegal

SyntaxError: invalid syntax (<ipython-input-26-a087ea1c20f5>, line 1)

In [20]:
my_name = "Ammar"

In [25]:
1st_name = "Ammar" # number at start is illegal

SyntaxError: invalid syntax (<ipython-input-25-c5d6428df6e2>, line 1)

In [24]:
my-name = "Ammar" # - illegal

SyntaxError: can't assign to operator (<ipython-input-24-123617fffbea>, line 1)

In [28]:
position = 1st # alphabet not use without quotations

SyntaxError: invalid syntax (<ipython-input-28-d4884f75460d>, line 1)

In [30]:
dollar_notation = "$2.33"

In [32]:
class2 = 'python' # single quotation and double quotation both use for string

In [33]:
my_number = "23" # anything in quotation is called string

In [34]:
string = " "

In [35]:
type (string)

str

In [36]:
type (num)

int

In [37]:
print (type(num))

<class 'int'>

In [38]:
decimal = 2.3
type (decimal)

float

In [41]:
num + 2.3

7.3

In [42]:
num

5

In [43]:
num = num + 2.3
num

7.3

In [44]:
# = is called assignment operator

In [45]:
num = num + "2.3"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [46]:
num += 2.3  # shortcut method of num = num + 2.3

In [47]:
num

9.6

In [48]:
num -= 5

In [53]:
num

4.6

In [56]:
my_name

'Ammar'

In [58]:
"Muhammad " + my_name

'Muhammad Ammar'

In [59]:
"Muhammad"+" " + my_name

'Muhammad Ammar'

In [60]:
print ("Muhammad",my_name)

Muhammad Ammar

In [66]:
num = str(num) + "2.3"   # chaning type is called type casting

In [62]:
num

'4.62.3'

In [67]:
num = 11.9 + float("2.3") # chaning type is called type casting
num

14.2

In [71]:
num = 11.9 + int(float("2.3")) # chaning type is called type casting
num

13.9

# capability is required for type casting. but every thing will convert into string

In [74]:
int ("Ammar") # string is not convertable into int or float

ValueError: invalid literal for int() with base 10: 'Ammar'

In [73]:
float(2)

2.0

In [77]:
n = 5 % 2  # modulo (modulus) % operator which gives only reminder
n

1

In [78]:
rem = 8% 3
rem

2

In [79]:
floor_div = 5//2  # floor division //
floor_div

2

answer in floor division is intiger.....
division answer always in float

# list and for loop

In [82]:
name1 = "Muhammad"
name2 = "ammar"
name3 = "Ali"

In [83]:
marks1 = 93.5
marks2 = 96
marks3 = 45.5

In [84]:
names = ["Muhammad","Ammar","Ali","Rehmat"]     # [] square brackets use for collection intializing

In [85]:
names

['Muhammad', 'Ammar', 'Ali', 'Rehmat']

In [86]:
type(names)

list

In [87]:
print (type(names))

<class 'list'>

In [88]:
marks = [92 , 95 , 98 , 50] # we can store as much as we want to store

In [89]:
print (names)

['Muhammad', 'Ammar', 'Ali', 'Rehmat']

# python store all the values with index (0,1,2,3...........)


[     0     ,    1    ,  2   ,    3    ]

['Muhammad', 'Ammar', 'Ali', 'Rehmat']

In [90]:
names[2]

'Ali'

In [92]:
names[1]

'Ammar'

In [94]:
print (marks)
marks[0]

[92, 95, 98, 50]

92

In [98]:
msg = names[0] + " got " + str( marks[0]) + " marks"
msg

'Muhammad got 92 marks'

In [99]:
names

['Muhammad', 'Ammar', 'Ali', 'Rehmat']

In [100]:
dir (list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']